@charset "EUC-KR";

body {
	margin: 0;
	display: flex;
	justify-content: center;
	background-color: #fefefe;
}

#box {
	width: 1200px;
}

#header {
	margin-left: 35px;
	color: #064420;
}

table {
	border-collapse: collapse;
	width: 800px;
	font-size: 17px;
	border: 1px solid #b2b8a3;
	background-color: white;
}

tr {
	border-bottom: 1px solid #b2b8a3;
}